# Python
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/

# Unity generated
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
sysinfo.txt

# Visual Studio / Rider / VSCode
.vs/
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Generated assets - keep folder by .gitkeep if needed
assets/generated/*
assets/preview/*
!assets/generated/.gitkeep
!assets/preview/.gitkeep
